@font-face {
    font-family: 'Futura PT';
    src: url('fonts/Futura PT.ttf');
}

* {
    font-family: 'Futura PT';
    margin: 0;
    padding: 0;
}

header {
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin: 0 0 0.5em 0;
}

h3,
h4 {
    margin: 0 0 1em 0;
}

h4 {
    text-transform: uppercase;
}

p {
    line-height: 1.5em;
    margin: 0 0 0.25em 0;
}

.txt {
    padding: 3em;
    text-align: center;
}

.img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1,
.img-2 {
    color: white;
    display: flex;
    flex-direction: column;
    height: 32em;
    justify-content: flex-end;
    max-height: calc(100vh - 4.75em);
    padding: 0.25em 0;
}

.img-1 {
    align-items: center;
}

.img-1 h2 {
    font-size: 2em;
}

.img-2 {
    text-shadow: 1pt 1pt 4pt black;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.img-2 p {
    margin: 6em 3em;
    max-width: 17em;
    z-index: 3;
}

.img-2 .plane {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
}

.dark {
    background-color: black;
    color: white;
    height: max-content;
    padding: 0 3em;
    text-align: center;
    overflow: hidden;
}

.dark h3 {
    font-weight: normal;
    margin: 0;
    padding: 2em 0;
}

.img-3 {
    height: calc(100vw - 2 * 3em);
    margin: 0 auto;
    width: 100%;
}

.buy-now,
.find-store {
    display: block;
    margin: 2em auto 0 auto;
    padding: 0.75em 1em;
    text-decoration: none;
    width: max-content;
    border-radius: 2.5em;
    padding: 0.75em 2em;
    font-size: 1.5em;
}

.buy-now {
    background-color: black;
    border: 2pt solid black;
    color: white;
}

.buy-now:hover {
    background-color: white;
    color: black;
}

.showcase {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(2 * 18vh + 4 * 0.25em);
    justify-content: center;
    overflow: hidden;
    padding: 0 1em 3em 1em;
}

.showcase .img {
    flex: 0 0 18vh;
    width: calc(100% / 3 - 2 * 0.25em);
}

.img-7,
.img-5 {
    margin: 1em 0.25em;
}

.img-4,
.img-6 {
    margin: 0.25em;
}

.img-4 {
    background-position: center right;
}

.find-store {
    border: 2pt solid black;
    color: black;
}

.img-8 {
    height: 100vw;
}

.img-9,
.img-10 {
    height: 24em;
}

footer {
    padding: 2em 0 1em 0;
    text-align: center;
}

footer a {
    color: black;
    padding: 0 0.25em;
    text-decoration: none;
}

/* Bilder laden */
.img-1 {
    background-image: url('bilder/Bild 1.png');
}

.img-2 {

    background-image: url('bilder/Bild 2.png');
}

.img-3 {
    background-image: url('bilder/Bild 3.jpeg');
}

.img-4 {
    background-image: url('bilder/Bild 4.png');
}

.img-5 {
    background-image: url('bilder/Bild 5.png');
}

.img-6 {
    background-image: url('bilder/Bild 6.png');
}

.img-7 {
    background-image: url('bilder/Bild 7.png');
}

.img-8 {
    background-image: url('bilder/Bild 8.png');
}

.img-9 {
    background-image: url('bilder/Bild 9.png');
}

.img-10 {
    background-image: url('bilder/Bild 10.png');
}

@keyframes move {
    0% {
        transform: translateY(-10%);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10%);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10%);
    }
}

.move {
    animation: move 750ms linear infinite;
}

/* Desktop Ansicht */
@media (min-width: 720px) {
    h2, h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    p {
        max-width: 32em;
        margin: 0 auto 1em auto;
    }
    
    .img-1,
    .img-2 {
        height: calc(100vh - 4.75em);
    }

    .img-1 h2 {
        font-size: 4em;
    }

    .img-2 p {
        font-size: 2em;
        margin: auto;
    }

    .dark {
        height: 100vw;
        max-height: 100vh;
    }

    .img-3 {
        max-height: 75vh;
        max-width: 75vw;
        margin: 0 auto;
    }
    
    .dark h3 {
        padding: 1em 0;
    }

    .showcase {
        height: 75vw;
        width: 90vw;
        padding: 2em 0 6em 0;
        margin: 0 auto;
    }
    
    .showcase .img {
        flex: 0 0 calc(50% - 1em);
        width: calc(100% / 3 - 2 * 0.5em);
    }
    
    .img-7,
    .img-5 {
        margin: 1em 0.5em;
    }
    
    .img-4,
    .img-6 {
        margin: 0.5em;
    }

    .img-9,
    .img-10,
    .txt-9,
    .txt-10 {
        width: 50%;
        height: 100vh;
    }

    .img-9,
    .txt-10 {
        float: right;
    }

    .img-10,
    .txt-9 {
        float: left;
    }

    .txt-9,
    .txt-10 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .spacer {
        border-bottom: 2pt solid black;
        height: 200vh;
    }

    footer {
        padding: 4em 0 2em 0;
    }
}
